<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="another-child">
    <template>
        <style>
            button{
                background-color: rgba(2, 122, 2, 0.795);
                border-radius: 18px;
                height: 2em;
            }
        </style>
        <input type="text" name="name" id="myName">
        <button type="submit" on-click="sendName">Nombre enviado</button>
    </template>
    <script>
        class AnotherChild extends Polymer.Element {

            static get is() {
                return 'another-child';
            }

            static get properties() {
                return {
                    name: {
                        type: String,
                    }
                }
            }

            ready(){
                super.ready();
                this.sendName();
            }

            sendName() {
                const name = this.$.myName.value;
                const event = new CustomEvent('name-it', {
                    bubbles: true,
                    composed: true, 
                    detail: {
                        name,
                    },
                });

               this.dispatchEvent(event);
            }
        }
        customElements.define(AnotherChild.is, AnotherChild);
    </script>

</dom-module>