<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="second-element.html">
<link rel="import" href="third-element.html">
<link rel="import" href="another-child.html">

<dom-module id="parent-element">
  <template>
    <style>
      :host {
        display: block;
        font-size: 2em;
      }
    </style>

<second-element></second-element>
<third-element id="thirdChild" input="{{input}}"></third-element>


  </template>

  <script>
    /**
     * `parent-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ParentElement extends Polymer.Element {
      static get is() {
        return 'parent-element';
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'parent-element', 
          },
          input: {
            type: String,
            
          },

        };
      }

      constructor() {
        super();
      }

      ready() {
        super.ready();
        
        this.addEventListener('send-array', this.changeInput);
      }

      changeInput = function (event) {
        const inputValue = event.detail.data;
        this.set('input', inputValue);

      }
    
    }
    window.customElements.define(ParentElement.is, ParentElement);
  </script>
</dom-module>
