<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="second-element">
    <template>
        <style>
            :host {
                font-family: 'Roboto';
                font-optical-sizing: auto;
            }

            button {
                background-color: rgba(0, 255, 255, 0.384);
                border-radius: 18px;
                width: 3rem;
                height: 2rem;
            }
        </style>
        
        <form action="#">
            Cosas por hacer: <input type="text" id="myData">
            <button type="reset" on-click="sendArray">Send</button>
            <button type="menu" on-click="reset">Reset</button>
        </form>

    </template>

    <script>
        class SecondElement extends Polymer.Element {
            static get is() {
                return 'second-element';
            }

            static get properties() {
                return {
                    toDoList: {
                        type: Array,
                    },
                    name:{
                        type: String,
                    }
                }
            }

            ready(){
                super.ready();
                this.addEventListener('name-it',this.nameIt);
                   
            }

            nameIt = function(e){
                const name = e.detail.name;
                console.log(name);
                
            }

            sendArray() {
                const data = this.$.myData.value;
                const event = new CustomEvent('send-array', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        data,
                    },
                    
                });
                this.dispatchEvent(event);
            }

            reset(){
                location.reload(true);
            }

        }
        customElements.define(SecondElement.is, SecondElement);
    </script>

</dom-module>