<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="third-element">
    
    <template>
        <h2>Todo: </h2>
        <ul>
            <dom-repeat items="{{listElements}}">
                <template>
                    <li value="Tarea">{{item}}</li>
                </template>
            </dom-repeat>
        </ul>
    </template>

    <script>
        class ThirdElement extends Polymer.Element {
            static get is() {
                return 'third-element';
            }
            static get properties() {
                return {
                    listElements: {
                        type: Array,
                        value: [],
                    },

                    input: {
                        type: String
                    }
                }
            }
            static get observers() {
                return [
                    'addToList(input.*)'
                ]
            }
            ready() {
                super.ready();
                this.addEventListener('input-changed', this.addToList)
            }

            addToList = function (event) {
                const newTask = {
                    name: event.value,
                };
                this.push('listElements', newTask.name);
            }
        }
        customElements.define(ThirdElement.is, ThirdElement);
    </script>
</dom-module>